<!-- 以下、10章開始にあたって削除 -->
<h1>投稿一覧</h1>
<% @lists.each do |list| %>
  <p>タイトル</p>
  <span>
    <%= link_to list.title, todolist_path(list.id) %>
    <!-- 変更点："/todolists/#{list.id}"-->
    <!-- 変数展開を用いて、投稿のidを指定-->
  </span>
  <p>画像</p>
  <%= attachment_image_tag list, :image, :fill, 100, 100, format: 'jpeg' %>
<% end %>
<!-- ここまで-->